$body-bg: white;
$navbar-height: 55px;
$navbar-inverse-bg: #333;
$navbar-inverse-color: white;
$navbar-inverse-brand-color: #97ff87;
$navbar-inverse-toggle-hover-bg:            none;
$navbar-inverse-toggle-icon-bar-bg:         black;
$navbar-inverse-toggle-border-color:        none;
$navbar-inverse-link-color:                 white;
$navbar-inverse-link-active-color:          #97ff87;
$navbar-inverse-link-hover-bg: #333;
$navbar-inverse-link-active-bg: #333;
$container-desktop: 1000px !important;
$headings-font-weight:    700 !default;

.logo {
  max-height: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
}

body {
  margin-bottom: 50px !important;
}



// End of file
@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss'
